/* NAVIGATION BAR */

.navbar {
  font-size: 22px;
  background-color: black;
  color: saddlebrown;
}

/* Main BODY colors & font */
body {
  font-family: 'Papyrus';
  background-color: #000000;
  color: saddlebrown;
  text-emphasis: 30em;
  padding-top: 7em;
  padding-bottom: 1em;
  font-size: 130%;
}

/* Allowing scrollspy flexibility */
.scrollspy-example {
    position: relative;
}

/* Change the color of the grain leaf icon to green */
.glyphicon {
  color: darkgreen;
}

.fa {
  color: darkgreen;
}

/*  */
#antiwhite {
  color: blanchedalmond;
}

/* Option to change objects to transparent */
#transparent {
  background-color: transparent;
}


/* Color design for Social Icon buttons */
.btn {
  border-color: blanchedalmond;
  border-width: 2px;
  background-color: blanchedalmond;
  color: darkgreen;
  font-size: 1em;
}

/* SOCIAL ICONS */
#icon {
  float: inherit;
  text-align: center;
  padding: 5, 5, 5, 15;
}

/* Option to center various objects */
#center {
  text-align: center;
}

/* Griffy font */
#griffy {
  font-family: 'Griffy',cursive;
}


/* **********MAIN CONTENT********* */

/* HOME SECTION */
/* Background image for HOME section */
.home_pic {
  background: url('/images/darkwood-desk.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 25;
  padding-bottom: 25;
}

.jumbotron {
  height: 350px;
  color: saddlebrown;
  text-shadow: #444 0 .3em .3em;
  background: rgba(250,235,215,0.8);
  font-size: 50%;
  vertical-align: middle;
}

/* ABOUT SECTION */
/* Background image for ABOUT section */
.about_pic {
  background: url('/images/office-couches.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25;
}

/* Allowing the ABOUT ME paragraph to stand out more */
.well {
  border-color: blanchedalmond;
  border-width: .2em;
  background-color: rgba(250,235,215,0.8);
  color: darkslategrey;
}

/* MY WORK SECTION */
/* Background image for MY WORK section */
.portfolio_pic {
  background: url('/images/dark-wood.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25;
}


/* CONTACT SECTION */
/* Background image for Contact section */
.contact_pic {
  background: url('/images/home-office.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25;
}