
html {
  background-color: black;
  box-sizing: border-box;
}
body {
  min-width:550px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* NAVIGATION BAR */
/* NAVIGATION BAR override Bootstrap for colors */
/*You can create a custom navbar class, and then reference it to change the navbar without impacting other Bootstrap navbars
http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3
*/
.navbar-custom {
  background-color: rgba(0, 137, 145, 0.8);
  border: none;
  border-radius: 0;
  color: whitesmoke;
  font-family: 'Josefin Sans', sans-serif;
}
.navbar .navbar-nav > li > a, .nav .nav-tabs > li > a {
  color: whitesmoke;
}
.nav-tabs > li > a {
  color: whitesmoke;
  font-size: 1.35em;
}
.navbar .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: whitesmoke;
}
.navbar-custom .navbar-brand {
  color: whitesmoke;
}
@media (max-width: 768px) { .nav-tabs > li { float:inherit; border: 1px solid #dddddd; } .nav-tabs > li.active { background: #eeeeee; } .nav-tabs > li.active > a { border: 1px solid transparent; } .nav > li > a:hover, .nav > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: none;
  border: 1px solid transparent; }
}
/* Main BODY colors & font */
body {
  font-family: 'Playfair Display', serif;
  background-color: black;
  color: white;
  text-emphasis: 30rem;
  padding-top: 7em;
  padding-bottom: 1rem;
  font-size: 130%;
  line-height: 1.5;
}
/* Allowing scrollspy flexibility */
.scrollspy {
  position: relative;
}
/* Change the color of the grain leaf icon to green */
.glyphicon {
  color: whitesmoked;
  margin-right: .5rem;
}
/* Option to change objects to transparent */
#transparent {
  background-color: transparent;
}
/*Remove panel borders for cleaner design */
.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
}
#whsmoke {
  color: whitesmoke;
}
h4 {
  font-size: 1.6rem;
  line-height: inherit;
}
/* Color design for Social Icon buttons */
.btn {
  border-color: whitesmoke;
  border-width: 0.10em;
  background-color: white;
  color: #2c0900;
  font-size: 1.5rem;
  margin-top: .5rem;
  min-width: 170px;
  padding: .5rem;
  position: relative;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
/* Option to center various objects */
#center {
  text-align: center;
}
/* Coloring & sizing for each Section Title */
#secHeading {
  color: whitesmoke;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

/* **********MAIN CONTENT********* */

/* *****HOME SECTION***** */
/* Background image for HOME section */
.home_pic {
  background: url('/images/darkwood-desk.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 25;
  padding-bottom: 25;
}
.jumbotron {
  height: 65em;
  color: whitesmoke;
  /*  text-shadow: #444 0 .2em .2em;*/
  background: transparent;
  font-size: 50%;
  vertical-align: middle;
  line-height: 1.5;
  font-family: 'Josefin Sans', sans-serif;
}
/* SOCIAL ICONS for HOME Section  */
#icon {
  float: inherit;
  text-align: center;
}
/* *****ABOUT SECTION***** */
/* Background image for ABOUT section */
.about_pic {
  background: url('/images/code.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25;
}
/* Personal pic for ABOUT section */
.circular {
  width: 240px;
  height: 240px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-color: whitesmoke;
  border-width: .5em;
  background: url('images/profile_pic.jpg') no-repeat;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .9);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .9);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .9);
}
/* Allowing the ABOUT ME paragraph to stand out more */
.well {
  border-color: whitesmoke;
  border-width: .2em;
  background-color: rgba(106, 237, 244, 1.0);
  color: #2c0900;
  font-size: 1.6rem;
  line-height: inherit;
  min-width: 220px;
  padding: inherit;
}
/* *****PORTDOLIO SECTION****** */
/* Background image for MY WORK section */
.portfolio_pic {
  background: url('/images/darkwood-desk.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25;
}
/* *****CONTACT SECTION****** */
/* Background image for Contact section */
.contact_pic {
  background: url('/images/code.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25;
}
/* SOCIAL ICONS for CONTACT Section */
#contactIcon {
  float: left;
  text-align: justify;
}
/* Spacing between the Contact section Social Buttons */
li:not(:last-child) {
  padding-bottom: 5px;
}
/* ******FOOTER****** */
.footer {
  font-family: 'Josefin Sans', sans-serif;
}
/* Adding margin for FOOTER content */
#ftrMargin {
  margin-left: 5rem;
  font-family: 'Josefin Sans', sans-serif;
}