/* NAVIGATION BAR */


/* NAVIGATION BAR override Bootstrap for colors */
/*You can create a custom navbar class, and then reference it to change the navbar without impacting other Bootstrap navbars 
http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3
*/

.navbar-custom {
    background-color: rgba(250,235,215,0.9);
    color: saddlebrown;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: saddlebrown;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: saddlebrown;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color: saddlebrown;
}



/* Main BODY colors & font */
body {
  font-family: 'Papyrus';
  background-color: black;
  color: saddlebrown;
  text-emphasis: 30em;
  padding-top: 7em;
  padding-bottom: 1em;
  font-size: 130%;
}

/* Allowing scrollspy flexibility */
.scrollspy-example {
    position: relative;
}

/* Change the color of the grain leaf icon to green */
.glyphicon {
  color: darkgreen;
}


/* Option to change object to Blanched Almond color */
#blchalmond {
  color: blanchedalmond;
}

/* Option to change objects to transparent */
#transparent {
  background-color: transparent;
}


/* Color design for Social Icon buttons */
.btn {
  border-color: saddlebrown;
  border-width: 0.10em;
  background-color: blanchedalmond;
  color: darkgreen;
  font-size: 1em;
  
}

/* SOCIAL ICONS for HOME Section */
#icon {
  float: inherit;
  text-align: center;
  padding: 5, 5, 5, 15;
}

/* SOCIAL ICONS for CONTACT Section */
#contactIcon {
  float: left;
  padding: 5, 5, 5, 15;
  text-align: left;
}

/* Spacing between the Contact section Social Buttons */
li:not(:last-child) {
    padding-bottom: 5px;
}

/* Option to center various objects */
#center {
  text-align: center;
}



/* **********MAIN CONTENT********* */

/* HOME SECTION */
/* Background image for HOME section */
.home_pic {
  background: url('/images/darkwood-desk.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 25;
  padding-bottom: 25;
}

.jumbotron {
  height: 350px;
  color: saddlebrown;
  text-shadow: #444 0 .3em .3em;
  background: rgba(250,235,215,0.8);
  font-size: 50%;
  vertical-align: middle;
}

/* ABOUT SECTION */
/* Background image for ABOUT section */
.about_pic {
  background: url('/images/office-couches.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25;
}

/* Allowing the ABOUT ME paragraph to stand out more */
.well {
  border-color: blanchedalmond;
  border-width: .2em;
  background-color: rgba(250,235,215,0.9);
  color: darkslategrey;
}

/* PORTDOLIO SECTION */
/* Background image for MY WORK section */
.portfolio_pic {
  background: url('/images/dark-wood.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25;
}


/* CONTACT SECTION */
/* Background image for Contact section */
.contact_pic {
  background: url('/images/home-office.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25;
}